section.target
    .container
        .title
            h3
                | Цель инновационного центра
            h1
                | cоздать лучшие условия для обеспечения
                | всестороннего развития дошкольника
        .target-lists
            .target-list
                .target-list-icon
                    img(src="images/icons/icon01.png", alt="")
                .target-list-txt
                    | Разработка и внедрение современных стандартов управления дошкольным образованием
            .target-list
                .target-list-icon
                    img(src="images/icons/icon02.png", alt="")
                .target-list-txt
                    | Внедрение передовых информационных и педагогических технологий в образовательно- воспитательный процесс 
            .target-list
                .target-list-icon
                    img(src="images/icons/icon03.png", alt="")
                .target-list-txt
                    | Создание условий для взаимодействия с заинтересованными лицами в целях реализации инновационных проектов
            .target-list
                .target-list-icon
                    img(src="images/icons/icon04.png", alt="")
                .target-list-txt
                    | Разработка и производство учебно-методических материалов и медиа-контента
            .target-list
                .target-list-icon
                    img(src="images/icons/icon05.png", alt="")
                .target-list-txt
                    | Повышение компетенциий и квалификации в сфере инновационных информационно -  коммуникационных и педагогических технологий
            .target-list
                .target-list-icon
                    img(src="images/icons/icon06.png", alt="")
                .target-list-txt
                    | Совершенствование методов оценки качества дошкольного образования и состояния материально- технического оснащения ДОО
            .target-list
                .target-list-icon
                    img(src="images/icons/icon07.png", alt="")
                .target-list-txt
                    | Защита авторских прав на объекты интеллектуальной собственности Инновационного центра
            .target-list
                .target-list-icon
                    img(src="images/icons/icon08.png", alt="")
                .target-list-txt
                    | Проведение экспертизы прототипов зданий ДОО и технологий для будущего нового строительствас целью обеспечения безопасной среды детей
            .target-list
                .target-list-icon
                    img(src="images/icons/icon09.png", alt="")
                .target-list-txt
                    | Контроль качества и безопасности продуктов питания, товаро и материалов, потребляемых и используемых в ДОО
        .target-link
            a(href="#").link
                +svg('arrowtop')
                | об Инновационном центре