section.section-three
    .container
        span.bg-text
            | Инновационный центр
        .title
            h3
                | Инновационный центр
            h1
                | глазами родителя
        .section-three-wrapper
            .section-three-lists
                .section-three-list
                    .section-three-img(style="background-image: url('images/content/img01.svg')")
                    .section-three-txt
                        | Организация прозрачной системы постановки в очередь и приема детей в ДОО
                .section-three-list
                    .section-three-img(style="background-image: url('images/content/img02.svg')")
                    .section-three-txt
                        | Контроль над безопасностью продуктов питания, товаров и материалов
                .section-three-list
                    .section-three-img(style="background-image: url('images/content/img03.svg')")
                    .section-three-txt
                        | Создание учебно-методических, дидактических, технических и информационных ресурсов
                .section-three-list
                    .section-three-img(style="background-image: url('images/content/img04.svg')")
                    .section-three-txt
                        | Стимулирование педагогов к инновациям в педагогической деятельности