section.section-six
    .container
        .section-six-wrapper
            .expert-block
                .small-title
                    | Эксперты отвечают <sup>/ родителям</sup>
                h2 
                    | Гаджеты в песочнице. Нужны ли дошкольникам технологии?
                a(href="#").expert-block-info  
                    .expert-block-img(style="background-image: url('images/content/expert.jpg');")
                    .expert-block-txt
                        h3
                            | Рано Иззатовна
                        p
                            | Доктор психологических наук, профессор Филиала МГУ им. М.В. Ломоносова в г.Ташкенте
                a(href="#" title='').defaultLink
                    +svg('arrowtop')
                    span
                        | все эксперты
            .article
                .small-title
                    | Статьи <sup>/ родителям</sup>
                .article-items
                    .article-item
                        a(href="#" title="10 советов, как помочь малышу хорошо провести день в садике.").article-link
                            date.date 19.04.2020
                            p 10 советов, как помочь малышу хорошо провести день в садике.
                    .article-item
                        a(href="#" title="10 советов, как помочь малышу хорошо провести день в садике.").article-link
                            date.date 19.04.2020
                            p Родительское знакомство с детским садиком.
                    .article-item
                        a(href="#" title="10 советов, как помочь малышу хорошо провести день в садике.").article-link
                            date.date 19.04.2020
                            p Постепенно приучайте малыша к самостоятельности и доступному для его возраста самообслуживанию.
