section.section-five
    .container
        .section-five-wrapper
            .section-five-img(style="background-image: url('images/content/idea.jpg');")
                span.lamp
            .section-five-title
                h5
                    | Есть идея в сфере инновационных, информационно-коммуникационных, педагогически-технологических решений в системе дошкольного образования ?
                p
                    | Инновационный центр на правах частного партнерства, корпоративного сотрудничества, готов оказать поддержку и продвижение ваших идей до реального промышленного производства!
                button(type="button").btn
                    | Есть идея?