section.section-top
    .container
        .section-top-wrapper
            .section-top-text
                h3
                    | Инновации в образовании как фактор
                h1
                    | успешной социализации ребенка
                p
                    | Инновационный центр - это научно-исследовательская, опытно-конструкторская и технологическая деятельности по разработке, совершенствованию и внедрению инновационных решений в сфере дошкольного образования.
            .section-top-img
                #scene(data-relative-input="true")
                    .scene-bg(data-depth="0.2")
                    .scene-rocket(data-depth="0.4")
                    .scene-planet(data-depth="0.4")
                    .scene-star(data-depth="0.4")
            .scene-bigplanet
