extends pug/base

append vars
    - title = 'Антикоррупционная деятельность'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#1cd8c7'
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1cd8c7">
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']; 
block content
    .wrapper
        // Шапка сайта
        include pages/header/header
        // Контент
        .main
            .crumbs
                .container
                    ul
                        li
                            a(href=`/` title="На главную")
                                | Главная
                        li
                            span Антикоррупционная деятельность
            .about
                .container
                    .default-section
                        h1
                            | H1 Антикоррупционная деятельность
                        img(src="images/content/about.jpg", alt="" style="float:left;margin-right: 32px;")
                        p
                            | С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                        p
                            | Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации форм развития. Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке форм развития.
                        h2
                            | H2 Подзаголовок
                        p
                            | Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.
                        p
                            | Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании дальнейших направлений развития.
                        h3
                            | H3 Подзаголовок
                        p
                            | Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий.
                        p
                            | Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
                        ol
                            -for(var i = 0; i < 4; i++) {
                                li
                                    | Пример нумерованного списка
                            - }
                        img(src="images/content/about2.jpg", alt="" style="float:right;margin-left: 15px;")
                        p
                            | Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий.
                        p
                            | Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий.  
                        p
                            | Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.
                        p
                            | Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании дальнейших направлений развития.
                        ul
                            -for(var i = 0; i < 4; i++) {
                                li
                                    | Пример маркерованного списка
                            - }
                        p
                            b Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий.
                        p
                            i Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
                        p
                            a(href="")
                                | Пример ссылки без наведения
                        p
                            a(href="").hover
                                | Пример ссылки при наведении
                        p
                            a(href="").active
                                | Пример уже кликнутой ссылки
                        table
                            tr
                                -for(var i = 0; i < 3; i++) {
                                    th
                                        | Наименование столбца
                                - }
                            -for(var i = 0; i < 5; i++) {
                                tr
                                    td
                                        | Наименование ячейки 
                                    td
                                        | Наименование ячейки 
                                    td
                                        | Наименование ячейки 
                            - }
        include pages/footer/footer