extends pug/base

append vars
    - title = 'Эксперты отвечают'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#1cd8c7'
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1cd8c7">
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']; 
block content
    .wrapper
        // Шапка сайта
        include pages/header/header
        // Контент
        .main
            .crumbs
                .container
                    ul
                        li
                            a(href=`/` title="На главную")
                                | Главная
                        li
                            span Эксперты отвечают
            .inner-title
                .container
                    h1
                        | Эксперты отвечают
            .main-wrapper
                .container
                    .expert-block-items
                        -for(var i = 0; i < 6; i++) {
                            a(href="#").expert-block-item
                                .expert-block-top
                                    date.date 16.05.2020
                                    h5
                                        | Гаджеты в песочнице, нужны ли дошеольникам технологии?
                                    q
                                        | Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений
                                .expert-block-bottom
                                    .expert-block-info  
                                        .expert-block-img(style="background-image: url('images/content/expert.jpg');")
                                        .expert-block-txt
                                            h3
                                                | Рано Иззатовна
                                            p
                                                | Доктор психологических наук, профессор Филиала МГУ им. М.В. Ломоносова в г.Ташкенте
                        - }
                    .btn-block
                        button(type="button").btn
                            span показать еще
        include pages/footer/footer