extends pug/base

append vars
	- title = 'Главная страница'
	- meta.description = 'Описание страницы'
	- meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
	- link.icon = './favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = '#1cd8c7'
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1cd8c7">
	- defaultLink = 'javascript:void(0);'
block content
	.wrapper
		include pages/preloader
		// Шапка сайта
		include pages/header/header
		// Контент
		.main
			include pages/section-top/section-top
			include pages/section-target/target
			include pages/section-three/section-three
			include pages/section-four/section-four
			include pages/section-five/section-five
			include pages/section-six/section-six
			include pages/section-seven/section-seven
		include pages/footer/footer