extends pug/base

append vars
    - title = 'Руководящий состав'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#1cd8c7'
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1cd8c7">
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']; 
block content
    .wrapper
        // Шапка сайта
        include pages/header/header
        // Контент
        .main
            .crumbs
                .container
                    ul
                        li
                            a(href=`/` title="На главную")
                                | Главная
                        li
                            span Руководящий состав
            .inner-title
                .container
                    h1
                        | Руководящий состав
            .main-wrapper
                .container
                    .leadership-section
                        .leadership-section__items
                            - for (var i = 0; i < 8; i++) {
                                .leadership-section__item
                                    .leadership-section__img
                                        img(src="images/content/expert.jpg", alt="Фамили Имя Отчество")
                                    .leadership-section__info
                                        h2.leadership-section__name
                                            | Фамили Имя Отчество
                                        span.leadership-section__status
                                            | Должность
                                        p.leadership-section__text
                                            | Повседневная практика показывает, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. 
                            - }
                        .btn-block
                            button(type="button").btn
                                span показать еще
        include pages/footer/footer