extends pug/base

append vars
    - title = 'Проекты'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#1cd8c7'
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1cd8c7">
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page project-page']; 
block content
    .wrapper
        // Шапка сайта
        include pages/header/header
        // Контент
        .main
            .sidebar
                .sidebar-wrapper
                    p
                        | Листайте влево для просмотра
            .project.owl-carousel
                -for(var i = 0; i < 4; i++) {
                    .project-item
                        a(href="#").project-link
                            span.project-img(style="background-image: url('images/content/project-1.jpg')")
                            span.project-title
                                | Обеспечение ГДОО и НДОО комплексами учебно-дидактических материалов
                            span.project-subtitle
                                | Инновационный центр - это научно-исследовательская, опытно-конструкторская и технологическая деятельности по разработке, совершенствованию и внедрению инновационных решений в сфере дошкольного образования.
                - }