// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-primary: #1cd8c7;
$color-secondary: #b6fff7;
$color-orange: #ffad47;
$color-grey: #6e6e6e;
$color-text: #4f4f4f;
// FONTS
$roboto-slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
