section.section-seven
    .container
        .section-seven-wrapper
            .small-title
                | Новости <sup>/ для всех</sup>
            .news-items
                .news-item
                    a(href="#" title="Торжественная церемония закладки первого камня в строительство многопрофильных доо с реабилитационным центром").news-link
                        span.news-img(style="background-image: url(images/content/news-1.jpg);")
                        date.date
                            | 19.04.2020
                        span.news-name
                            | Торжественная церемония закладки первого камня в строительство многопрофильных доо с реабилитационным центром
                .news-item
                    a(href="#" title="").news-link
                        span.news-img(style="background-image: url(images/content/news-2.jpg);")
                        date.date
                            | 19.04.2020
                        span.news-name
                            | Реализация молодежной политики в системе дошкольного образования
                .news-item
                    a(href="#" title="").news-link
                        span.news-img(style="background-image: url(images/content/news-3.jpg);")
                        date.date
                            | 19.04.2020
                        span.news-name
                            | Торжественная церемония закладки первого камня в строительство многопрофильных доо с реабилитационным центром